<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>annal</title>
    <link rel="stylesheet" href="stylesheets/newsModelPC.css">
    <!--<link rel="stylesheet/less" type="text/css" href="lesses/newsModelPC.less" />-->
    <!--<script src="http://cdn.bootcss.com/less.js/1.7.0/less.min.js"></script>-->
</head>

<body>
<div id="flat">
    <div id="header"></div>
    <div id="mainBoard">
        <div id="shareBar"><a href="javascript:void(0)">分享</a></div>
        <div id="article">
            <%
            var title = article.title.text();
            var author = article.author.text();
            %>
            <div class="title"><%=title%></div>
            <%
            var isCopy = article.isCopy.text();
            var fromWhere = null;
            var fromAuthor = null;
            if(isCopy == 1){
                fromWhere = article.fromWhere.text();
                fromAuthor = article.fromAuthor.text();
            %>
            <div class="fm">转载自<%=fromWhere%>, 原创者：<%=fromAuthor%></div>
            <%
            }else{
            %>
            <div class="author">本站作者：<%=author%></div>
            <%
            }
            var date = Number(article.date.text());
            date = new Date(date);
            var type = Number(article.type.text());
            switch (type){
                case 1:type='民生';break;
                case 2:type='经济';break;
                case 3:type='官场';break;
                case 4:type='教育';break;
                default:break;
            }
            %>
            <div class="time"><%=date.toLocaleString()%></div>
            <div class="type">类型：<%=type%></div>
            <%
            var content = article.content.array;
                    for(var i in content){
                var value = content[i];
            if(value.attributes().type == 'chapter'){%>
            <div class="chapter"><%=value.text()%></div>
            <%}
            if(value.attributes().type == 'section'){%>
            <div class="section"><%=value.text()%></div>
            <%}
            if(value.attributes().type == 'image'){%>
            <div class="image"><img src="images/<%=value.text()%>"></div>
            <%}
            }
            %>
        </div>
        <div id="comments">
            <div id="comments_title">评论</div>
            <div class="cutline"></div>
            <div id="commentBlank">
                <ul>
                    <li>
                        <img src="images/testtouxiang.jpg">
                    </li>
                    <li>
                        <textarea></textarea>
                    </li>
                    <li>
                        <div id="btn_sendComment">发布</div>
                    </li>
                </ul>
            </div>
            <div class="cutline"></div>
            <!--<div id="commentsList">-->
                <!--暂无评论。-->
            <!--</div>-->
            <div id="commentsList">
                <div class="comment">
                    <img src="images/testtouxiang.jpg">
                    <div class="comment_mark">dsdsds</div>
                    <div class="comment_bar">
                        <a class="comment_reply">回复</a>&nbsp;|&nbsp;
                        <a class="comment_good">点赞</a>
                    </div>
                    <div class="comment_content">回复#
                        <span>enphy</span>:
                        <div class="content">sdsdsddssssssssssssssssssssssssssssssdsdsddddddddddddddddsdsdsddssssssssssssssssssssssssssssssdsdsddddddddddddddddsdsdsddssssssssssssssssssssssssssssssdsdsddddddddddddddddsdsdsddssssssssssssssssssssssssssssssdsdsddddddddddddddddsdsdsddssssssssssssssssssssssssssssssdsdsddddddddddddddddsdsdsddssssssssssssssssssssssssssssssdsdsdddddddddddddddd</div>
                        <div class="commentTo">
                            <span>
                                enphy 2017-06-07 12:55
                            </span>
                            <div>
                                哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                            </div>
                        </div>
                    </div>
                    <!--<div class="reply_bar">-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<img src="images/testtouxiang.jpg">-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<textarea></textarea>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<div class="btn_sendReply">发布</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
                <div class="comment_line"></div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>
</body>
<script type="text/javascript" src="javascripts/jquery-2.1.3.js"></script>
<script type="text/javascript" src="javascripts/newModelPc.js"></script>
</html>