<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>annal</title>
    <link rel="stylesheet" href="stylesheets/newsModelPC.css">
    <!--<link rel="stylesheet/less" type="text/css" href="lesses/newsModelPC.less" />-->
    <!--<script src="http://cdn.bootcss.com/less.js/1.7.0/less.min.js"></script>-->
</head>

<body>
<div id="flat">
    <div id="header"></div>
    <div id="mainBoard">
        <div id="shareBar"><a href="javascript:void(0)">分享</a></div>
        <div id="article">
            <%
            var title = article.title.text();
            var author = article.author.text();
            %>
            <div class="title"><%=title%></div>
            <%
            var isCopy = article.isCopy.text();
            var fromWhere = null;
            var fromAuthor = null;
            if(isCopy == 1){
                fromWhere = article.fromWhere.text();
                fromAuthor = article.fromAuthor.text();
            %>
            <div class="fm">转载自<%=fromWhere%>, 原创者：<%=fromAuthor%></div>
            <%
            }else{
            %>
            <div class="author">本站作者：<%=author%></div>
            <%
            }
            var date = Number(article.date.text());
            date = new Date(date);
            var type = Number(article.type.text());
            switch (type){
                case 1:type='民生';break;
                case 2:type='经济';break;
                case 3:type='官场';break;
                case 4:type='教育';break;
                default:break;
            }
            %>
            <div class="time"><%=date.toLocaleString()%></div>
            <div class="type">类型：<%=type%></div>
            <%
            var content = article.content.array;
                    for(var i in content){
                var value = content[i];
            if(value.attributes().type == 'chapter'){%>
            <div class="chapter"><%=value.text()%></div>
            <%}
            if(value.attributes().type == 'section'){%>
            <div class="section"><%=value.text()%></div>
            <%}
            if(value.attributes().type == 'image'){%>
            <div class="image"><img src="images/<%=value.text()%>"></div>
            <%}
            }
            %>
        </div>
        <div id="comments">
            <div id="comments_title">评论</div>
            <div class="cutline"></div>
            <div id="commentBlank">
                <ul>
                    <li>
                        <img src="images/testtouxiang.jpg">
                    </li>
                    <li>
                        <textarea></textarea>
                    </li>
                    <li>
                        <div id="btn_sendComment">发布</div>
                    </li>
                </ul>
            </div>
            <div class="cutline"></div>
            <!--<div id="commentsList">-->
                <!--暂无评论。-->
            <!--</div>-->
            <div id="commentsList">
                <div class="comment">
                    <img src="images/testtouxiang.jpg">
                    <div class="comment_mark">dsdsds</div><div class="comment_bar"><a class="comment_reply">回复</a>&nbsp;|&nbsp;<a class="comment_good">点赞</a></div>
                    <div class="comment_content">sdsdsddssssssssssssssssssssssssssssssdsdsdddddddddddddddd</div>
                </div>
                <div class="comment_line"></div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>
</body>
<script type="text/javascript" src="javascripts/jquery-2.1.3.js"></script>
<script type="text/javascript">
    //获取path中的参数
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]);
        return null;
    }

    //显示评论
    function showComments(){
        $.ajax({
            url:'/getComments',
            type:'get',
            data:{mark:GetQueryString('mark')},
            success:function (data) {
                if(data.success == 1){
                    //迭代评论
                    var comments = data.result;
                    //迭代之前清空评论区
//                    $('#commentsList').html('');
                    for(var i in comments){
                        var comment = comments[i];
                        var fromUser = comment.FromUser;
                        var personImgUrl = fromUser.PersonImg==''||fromUser.PersonImg==null ? 'images/testtouxiang.jpg' : fromUser.PersonImg;
                        $('#commentsList').append('<div class="comment"><img src=" ' + personImgUrl + ' ">' +
                            '<div class="comment_mark">' + fromUser.Nickname + '&nbsp;&nbsp;&nbsp;' + comment.Date + '</div>' +
                            '<div class="comment_bar"><a class="comment_reply">回复</a>&nbsp;|&nbsp;<a class="comment_good">点赞</a></div>'+
                            '<div class="comment_content">' + comment.Content + '</div></div>');
                        if(i<comments.length-1){
                            $('#commentsList').append('<div class="comment_line"></div>');
                        }
                    }

                    comment_bound();


                } else{
                    $('#commentsList').html('系统繁忙，请稍后刷新。');
                }
            }
        });
    }

    $(document).ready(function(){
        showComments();
    });

    $('#btn_sendComment').click(function(){
        var comment = $('#commentBlank ul li textarea').val();
        $.ajax({
            url:'/user/saveComment',
            type:'post',
            data:{content:comment,mark:GetQueryString('mark'),type:1},
            success:function(data){
                if(data.success == 1){
                    //清空输入框
                    $('#commentBlank ul li textarea').val('');
                    showComments();
                }else{
                    alert('评论失败');
                }
            }
        });
    });

    function comment_bound(){
        $('.comment_reply').click(function(){
            alert(this.length);
        });
    }



</script>
</html>